In [2]:
import paperparser
import os
import pandas as pd

In [12]:
bigdf = pd.DataFrame()
reada = os.listdir("thresholds/AL")
reada = [i for i in reada if not i.endswith(".xlsx")]
for foldername in reada:
    #print(foldername)
    df = pd.DataFrame()
    readfiles = os.listdir(f"thresholds/AL/{foldername}")
    readfiles = [i for i in readfiles if not i.endswith(".xlsx")]
    for filename in readfiles:
        filepath = f"./thresholds/AL/{foldername}/" + filename
        print(filepath)
        df = pd.concat([df, paperparser.parse_threshold(filepath)])
        df.to_excel(f"./thresholds/AL/{foldername}/{foldername}-thresholds.xlsx")
        df["subject"] = f"{foldername}"
    bigdf = pd.concat([bigdf, df])
    #display(df)
display(bigdf)

./thresholds/AL/accounting/accounting-9706-grade-threshold-table-march-2022.pdf

EmptyFileError: Cannot read an empty file

In [3]:
bigdf.to_excel("./thresholds/AL/al-thresholds.xlsx")

In [4]:

big2df = pd.DataFrame()
big91df = pd.DataFrame()
reada = os.listdir("thresholds/IGCSE")
reada = [i for i in reada if not i.endswith(".xlsx")]
for foldername in reada:
    #print(foldername)
    df = pd.DataFrame()
    readfiles = os.listdir(f"thresholds/IGCSE/{foldername}")
    readfiles = [i for i in readfiles if not i.endswith(".xlsx")]
    for filename in readfiles:
        #print(filename)
        df = pd.concat([df, paperparser.parse_threshold(f"./thresholds/IGCSE/{foldername}/" + filename)[2]])
        df.to_excel(f"./thresholds/IGCSE/{foldername}/{foldername}-thresholds.xlsx")
        df["subject"] = f"{foldername}"
    if "9-1" in foldername:
        big91df = pd.concat([big91df, df])
    else:
        big2df = pd.concat([big2df, df])
    #display(df)
display(big2df)
display(big91df)

,max mark,a*,a,b,c,d,e,f,g,date,subject
option,,,,,,,,,,,
"AY 12,22",0,101,83,65,47,39,31,23,15,March 2022,accounting
"AX 11,21",143,100,80,60,40,34,29,24,19,June 2023,accounting
"AY 12,22",143,108,85,62,40,34,29,24,19,June 2023,accounting
"AZ 13,23",143,108,85,62,40,34,29,24,19,June 2023,accounting
"AX 11,21",143,93,74,55,37,31,26,21,16,June 2024,accounting
...,...,...,...,...,...,...,...,...,...,...,...
"BY 22,42,52",200,144,122,100,79,69,59,49,39,November 2024,physics
"BZ 23,43,53",200,140,121,102,83,71,60,47,34,November 2024,physics
"CX 21,41,61",200,138,117,96,76,65,54,44,34,November 2024,physics
"CY 22,42,62",200,146,124,102,81,70,60,49,38,November 2024,physics
"CZ 23,43,63",200,142,122,102,83,72,61,48,35,November 2024,physics

,max mark,9,8,7,6,5,4,3,2,1,date,subject
option,,,,,,,,,,,,
"AX 11,21",143,110,95,80,66,53,40,33,26,19,June 2023,accounting-9-1
"AY 12,22",143,115,100,85,70,55,40,33,26,19,June 2023,accounting-9-1
"AX 11,21",143,108,91,74,61,49,37,30,23,16,June 2024,accounting-9-1
"AY 12,22",143,116,101,86,70,55,40,32,24,17,June 2024,accounting-9-1
"AX 11,21",143,110,94,79,66,53,40,32,24,17,June 2025,accounting-9-1
...,...,...,...,...,...,...,...,...,...,...,...,...
"BX 21,41,51",200,151,137,123,107,91,75,65,55,46,June 2025,physics-9-1
"CX 21,41,61",200,152,139,126,109,92,76,65,54,43,June 2025,physics-9-1
"CY 22,42,62",200,156,142,128,111,94,78,64,50,37,June 2025,physics-9-1
"BX 21,41,51",200,155,137,120,106,92,78,64,50,36,November 2024,physics-9-1
"CX 21,41,61",200,153,135,117,103,89,76,62,48,34,November 2024,physics-9-1

In [5]:
big2df.to_excel("./thresholds/IGCSE/igcse-thresholds.xlsx")
big91df.to_excel("./thresholds/IGCSE/igcse-9-1-thresholds.xlsx")